@import url('https://fonts.googleapis.com/css2?family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.btn-download {
    display: inline-block;
    padding: 8px 14px;
    color: white;
    background-color: #2196F3;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    transition: background 0.3s ease;
}

.center-box{
    border: 2px solid rgb(218, 218, 218);
    background-color: rgb(249, 250, 254);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    width: max-content;
    height: max-content;
    padding: 30px;
    margin-top: 15%;
    margin-left: 37%;
    border-radius: 10px;
}

.btn-download:hover {
    background-color: #0b7dda;
}

/* Popup alert */
.alert {
    font-family: "Yrsa", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 45px;
}


.gen-button{
    height: 6vh;
    min-height: 4vh;
    width: 13.5vw;
    border-radius: 10px;
    border: 2px solid rgb(39, 13, 238);
    background-color: rgb(21, 21, 250);
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    color: rgb(50, 55, 66);
    font-weight: 600;
    color: white;
    margin-left: 20%;
}

h2{
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    padding-top: 30px;
    margin-bottom: 30px;
}


.gen-button a{
    color: white;
}

.outer-box{
    width: 40%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(218, 218, 218);
    background-color: rgb(249, 250, 254);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    border-radius: 20px;
    margin-left: 30%;
}

.report_id{
    text-align: left;
    font-size: 30px;
    padding-left: 25px;
    padding-top: 20px;
}

.create_at{
    text-align: left;
    font-size: 25px;
    padding-left: 25px;
    padding-top: 10px;
}

.download-button{
    margin-left: 70%;
    margin-top: 32%;
    border: none;
}

.download-button a{
    font-size: 20px;
}
