*{
    margin: 0;
    padding: 0;
}


@media screen and (max-width: 1024px) {  /* Tablets */

}

@media screen and (max-width: 768px) {  /* Mobile */
    .hamburger{
        display: inline;
        height: 30px;
        width: 30px;
        padding-left: 50%;
        padding-top: 3%;
    }

    .hamburger img{
        height: 100%;
        width: auto;
    }

    .nav-sections{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 30px;
        left: 0;
        padding-left: 10%;
        width: 90%;
        height: 30vh;
        background-color: rgba(255, 255, 255, 0.381);
        box-shadow: 5px 5px 2px lightgray;
        border-radius: 15px;
        bottom: -1px;
    }

    .nav-sections a {
        padding: 10px 0;
        /* display: block; */
    }

    .button-black{
        display: none;
    }

    .button-white{
        display: none;
    }

    .instagram{
        display: none;
    }

    .email{
        display: none;
    }

    .linkedin{
        display: none;
    }

    .github{
        display: none;
    }

    .instagram{
        display: none;
    }

}
