@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@400..800&display=swap');


*{
    padding: 0;
    margin: 0;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh; /* fill full viewport and beyond */
  background: linear-gradient(to bottom, rgb(242, 243, 248), rgb(223, 231, 243));
  background-attachment: fixed; /* makes it continuous even on scroll */
}


.hamburger{
    display: none;
}

body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.nav-color{
    background-color: white;
    border: 0 0 5px 0 solid white;
}

.nav-box{
    height: 60px;
    position: relative;
    border-bottom: 4px solid rgb(217, 214, 214);
    font-family: "Anek Latin", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.nav-div-head{
    height: 40px;
    padding: 10px 0 0 30px;
    display: flex;
    flex-direction: row;
}

.nav-img{
    height: 40px;
    width: 40px;
}

.nav-title{
    font-weight: bold;
    font-size: 30px;
    color: rgb(17, 56, 89);
    padding-left: 3%;
    padding-top: 3%;
}

.nav-flex{
    display: flex;
    flex-direction: row;
}

.nav-sections{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2%;
    margin-top: 0.5%;
    gap: 20px;
}

.headlines{
    width: auto;
    height: fit-content;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 10px;
    color: rgb(17, 56, 89);
}

.headlines:hover{
    background-color: rgb(191, 163, 240);
    color: white;
    transition: all 0.5s ease;
}

.nav-endsection {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem 1rem;
    margin-left: auto;
    height: auto;
    min-width: 150px;
    width: fit-content;
}

a{
    text-decoration: none;
}

.button-white{
    height: 40px;
    width: 70px;
    background-color: white;
    padding-right: 5%;
    border: none;
}

.button-white-text{
    color: rgb(17, 56, 89);
    font-size: 16.5px;
    font-style: normal;
}

.button-black{
    height: 40px;
    width: 90px;
    border-radius: 10px;
    background-color: black;
    border: 3px solid white;
}

.button-black-text{
    color: white;
    font-size: 18px;
    font-style: normal;
}

footer{
    margin-top: auto;
    height: 7vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: white;
}

.name{
    font-size: 30px;
    padding-top: 1rem;
    padding-left: 20px;
}

.acc-links{
    font-size: 18px;
    padding-top: 1.7rem;
}

.a-color{
    color: white;
}

.alert p{
    position: absolute;
    font-family: "Anek Latin", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    left: 40%;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
}

.danger{
    color: red;
}


.invalid-feedback{
    color: red;
    font-size: 15px;
    padding-top: 5px;
}
