@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

.main-profile-box{
    height: 40vh;
    /* background-color: red; */
    width: 65%;
    margin-left: 16%;
    margin-top: 6%;
    border: 3px solid rgb(191, 190, 190);
    border-radius: 15px;
    box-shadow: 10px 10px 5px silver;
    background-color: rgb(216, 238, 253);
}

.basic-details{
    display: flex;
    flex-direction: row;
}

.profile-pic{
    padding-bottom: 20px;
}

.profile-pic img{
    height: 200px;
    width: 200px;
    margin-left: 20%;
    margin-top: 25%;
    border-radius: 80px;
    border: 3px solid rgb(0, 166, 255);

}

.details{
    height: max-content;
    width: max-content;
    margin-left: 10%;
    margin-top: 7%;
    /* border: 5px solid beige; */
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal;
    padding: 15px 10px;
}


.text-content p{
    font-size: 20px;
    margin: 3px 0 13px 5px;
}








