@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

.main-profile-box{
    margin-left: 16%;
    width: max(65%, 60vw);
    margin-top: 6%;
    border: 3px solid rgb(191, 190, 190);
    border-radius: 15px;
    box-shadow: 10px 10px 5px silver;
    background-color: rgb(216, 238, 253);
}

.basic-details{
    height: max-content;
    width: auto;
    display: flex;
    flex-direction: row;
}

.profile-pic{
    padding-bottom: 20px;
}

.profile-pic img{
    height: 200px;
    width: 200px;
    margin-left: 20%;
    margin-top: 12%;
    border-radius: 100px;
    border: 3px solid rgb(0, 166, 255);
}

.space{
    padding-left: 10px;
    margin-top: 5px;
    padding-bottom: 5px;
}

.space-button{
    margin-left: 35%;
}

.details{
    height: max-content;
    width: fit-content;
    margin-left: 8%;
    margin-top: 7%;
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal;
    padding: 15px 10px;
}


.text-content p{
    font-size: 20px;
    margin: 3px 0 13px 5px;
}








