@import url('https://fonts.googleapis.com/css2?family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

.nav-endsection{
    display: none;
}

.register-box{
    height: max-content;
    width: max-content;
    background-color: rgba(255, 255, 255, 0.95);
    margin-left: 35%;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.legend-text{
    font-family: "Yrsa", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 45px;
    padding-top: 5px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-top-spacing{
    margin-top: 15px;
}

.form-element{
    height: max-content;
    width: fit-content;
    margin-bottom: 2%;
    padding: 0 25px;
}

.form-input{
    height: 6vh;
    min-height: 4vh;
    width: 25vw;
    border-radius: 10px;
    padding-left: 8px;
    border: 2px solid rgb(218, 218, 218);
    background-color: rgb(249, 250, 254);
}

input::placeholder {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 15px;
  color: rgb(50, 55, 66);
}

/* .form-element-remember{
    height: 5vh;
    display: flex;
    flex-direction: row;
    margin-left: 11%;
    margin-top: 1%;
}

.formlabel-remember{
    padding-top: 2%;
    padding-left: 5px;
} */

.invalid-feedback{
    color: red;
    font-size: 15px;
    padding-top: 5px;
}

.google-signup {
    height: 6vh;
    min-height: 4vh;
    width: 26vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid rgb(218, 218, 218);
    background-color: rgb(249, 250, 254);
    /* background-color: red; */
    margin-bottom: 18px;
}

.google-signup img{
    padding-right: 10px;
}

.google-signup a{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 15px;
    color: rgb(50, 55, 66);
}

.separator-line{
    margin-top: 3%;
    width: 70%;
    border: 2px solid gray;
    margin-left: 15%;
}

.form-submit{
    margin-top: -5%;
}

.submit-button{
    height: 6vh;
    min-height: 4vh;
    width: 26vw;
    border-radius: 10px;
    padding-left: 8px;
    border: 2px solid rgb(39, 13, 238);
    background-color: rgb(21, 21, 250);
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    color: rgb(50, 55, 66);
    font-weight: 600;
    color: white;
}

.submit-box{
    margin-left: 6%;
    margin-bottom: 4%;
}

.already{
    text-align: center;
}

.already a{
    color: rgb(6, 6, 208);
    font-weight: bold;
    font-size: 18px;
}



