gunicorn
flask >= 3.1.1
flask_wtf >= 1.2.2
psycopg2-binary
python-dotenv
Flask-Bcrypt
flask_sqlalchemy
weasyprint
bcrypt==4.3.0
email_validator==2.2.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
pdfkit==1.0.0
pillow==11.3.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
python-dotenv==1.1.1
SQLAlchemy==2.0.43
weasyprint==66.0
WTForms==3.2.1
pillow==11.3.0
torch==2.9.0
torchvision==0.24.0
pymongo==4.15.3
