{% extends "layout.html" %}

{% block content %}

<div class="form-holder">
    <form method="POST" action="">
        {{form.hidden_tag()}}
        <legend class="legend-text"> Add your Allergy Details </legend>
        <hr class="separator">

        <div class="form-content move-left left">
            {{ form.allergy_status.label(class='form-header') }} <br>

            {% if form.allergy_status.errors %}
                {{ form.allergy_status(class='input') }}
                <div class="invalid-feedback">
                    {% for error in form.allergy_status.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.allergy_status(class='input') }}
            {% endif %}

        </div>

        <div class="form-content move-left left">
            {{ form.allergy_type.label(class='form-header') }} <br>

            {% if form.allergy_type.errors %}
                {{ form.allergy_type(class='input') }}
                <div class="invalid-feedback">
                    {% for error in form.allergy_type.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.allergy_type(class='input') }}
            {% endif %}

        </div>

        <div class="form-content move-left left">
            {{ form.allergy_triggers.label(class='form-header') }} <br>

            {% if form.allergy_triggers.errors %}
                {{ form.allergy_triggers(class='input width-low') }}
                <div class="invalid-feedback">
                    {% for error in form.allergy_triggers.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.allergy_triggers(class='input width-low') }}
            {% endif %}

        </div>

        <div class="form-content move-left left">
            {{ form.allergy_reaction.label(class='form-header') }} <br>

            {% if form.allergy_reaction.errors %}
                {{ form.allergy_reaction(class='input width-low') }}
                <div class="invalid-feedback">
                    {% for error in form.allergy_reaction.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.allergy_reaction(class='input width-low') }}
            {% endif %}

        </div>

        <div class="form-button">
            {{form.add_more(class='add-button')}}
            {{form.next(class='add-button new-shifts')}}
        </div>

    </form>
</div>



</form>

{% endblock %}
