{% extends "layout.html" %}

{% block content %}

{% if file_paths %}
    <h2>My Reports</h2>
    {% for report in file_paths %}
    <div class="outer-box">
        <div class="report-details">
            <p class="report_id">{{ report[0] }}</p>
            <p class="create_at"><b>Created On: </b>{{ report[2].strftime("%Y-%m-%d") }}</p>
        </div>
        <div class="download-box">
            <button class="download-button"><a href="{{ url_for('download', report_id=report[0]) }}" class="btn-download">Download</a></button>
        </div>
    </div>
    {% endfor %}
{% else %}
    <div class="center-box">
        <div class="alert">No reports Found.</div>
        <button class="gen-button"><a href={{url_for('generate_report')}}> Generate Report </a></button>
    </div>
{% endif %}

{% endblock %}
