{% extends "layout.html" %}

{% block content %}
<h2>My Reports</h2>

{% if file_paths %}
<table>
    <thead>
        <tr>
            <th>Report ID</th>
            <th>Created At</th>
            <th>Download</th>
        </tr>
    </thead>
    <tbody>
        {% for report in file_paths %}
        <tr>
            <td>{{ report[0] }}</td>
            <td>{{ report[2].strftime("%Y-%m-%d %H:%M:%S") }}</td>
            <td>
                <a href="{{ url_for('download', report_id=report[0]) }}" class="btn-download">
                    Download
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert">No reports generated.</div>
{% endif %}


{% endblock %}
