{% extends "layout.html" %}

{% block content %}

<div class='box'>
    <p class="title"> Home Page comming Soon!!! </p>
    <p class="subtitle"> Predoc - Phase 1 done </p>
    <p class="subtitle"> Login or Signup to try it </p>
    <div class="login-options ">
        <button class="login shiftbutton"><a class="button-text-black" href={{url_for('login')}}> Sign In </a></button>
        <button class="login register"><a class="button-text" href={{url_for('register')}}> Register </a></button>
    </div>
</div>

{% endblock %}
