<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title> Welcome to Predoc </title>
        {% endif %}

        <link rel='stylesheet' href={{url_for('static', filename='layout.css')}}>
        <link rel='stylesheet' href={{url_for('static', filename='home.css')}}>
        <link rel='stylesheet' href={{url_for('static', filename=css_file)}}>
        <link rel='stylesheet' href={{url_for('static', filename='details.css')}}>


    </head>
    <body>



        <!-- Navbar starts -->
        <nav class="nav-color nav-box nav-flex">
            <div class="nav-div-head">
                <img class="nav-img" src={{url_for('static', filename='images/logo/brand_logo.png')}}>
                <p class="nav-title"> Predoc </p>
            </div>

            <div id='navextend' class="nav-sections">
                <div id='cross' class="cross">
                    <img src={{url_for('static', filename='images/logo/close.png')}}>
                </div>
                <a aria-disabled="true" href={{url_for('home')}} class="headlines"> Home </a>
                <a aria-disabled="true" href={{url_for('generate_report')}} class="headlines"> Generate Report </a>
                <a aria-disabled="true" href={{url_for('make_downloads')}} class="headlines"> Downloads </a>
            </div>

            {% if current_user.is_authenticated %}
                {% if is_mobile%}
                    <div class="nav-endsection blocking">
                        <button class="button-black"><a class="button-black-text" href={{url_for('profile')}}> Profile </a></button>
                    </div>
                {% else %}
                    <div class="nav-endsection">
                        <button class="button-white"><a class="button-white-text" href={{url_for('profile')}}> Profile </a></button>
                        <button class="button-black"><a class="button-black-text" href={{url_for('logout')}}> Logout </a></button>
                    </div>
                {% endif%}
            {% else %}
                <div class="nav-endsection">
                    <button class="button-white"><a class="button-white-text" href={{url_for('login')}}> Sign In </a></button>
                    <button class="button-black"><a class="button-black-text" href={{url_for('register')}}> Register </a></button>
                </div>
            {% endif %}

            <button class="hamburger" onclick='ShowingBurger()'>
                <img id='hamburgerbtn' src={{url_for('static', filename='images/logo/menus.png')}}>
            </button>

        </nav>

        <!-- Navbar ends -->

        {% with messages = get_flashed_messages(with_categories = true)%}
            {% if messages %}
                {% for category, message in messages %}
                    <div class='alert'>
                        <p class={{category}}>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}


        {% block content %}
        {% endblock %}

        <script type="text/javascript" src={{url_for('static', filename = 'js/layout.js')}} defer></script>
    </body>
</html>
