{% extends "layout.html" %}


{% block content %}

<div class="main-profile-box">
    <div class="basic-details">
        <div class="profile-pic">
            <img src={{image_file}}>
                <form method='POST' action= '' enctype="multipart/form-data">
                    {{form.hidden_tag() }}
                    <div class="form-element space">
                        {{ form.picture.label(class='form-header') }}<br>

                        {% if form.picture.errors %}
                        {{ form.picture(class='space') }}
                            <div class="invalid-feedback">
                                {% for error in form.picture.errors %}
                                    <p> {{error}} </p>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.picture(class='space') }}
                        {% endif %}
                    </div>

                    <div class="form-submit">
                        {{ form.submit(class='submit-button space-button') }}
                    </div>
                </form>
        </div>
        <div class="details">
            <span class="text-content">Name: <p><u>{{user_details[2]}}</u></p></span>
            <span class="text-content">Email: <p><u>{{current_user.email}}</u></p></span>
            <span class="text-content">Date Of Birth:<p>{{user_details[3]}}</p></span>
        </div>
        <div class="details">
            <span class="text-content">Blood-Group: <p>{{user_details[8]}}</p></span>
            <span class="text-content">Height: <p>{{user_details[9]}} Cm</p></span>
            <span class="text-content">Weight: <p>{{user_details[10]}} Kg</p></span>
        </div>
    </div>
</div>
<p class="request"> Generate Your first report for complete profile details </p>


{% endblock %}
