{% extends "layout.html" %}


{% block content %}

<div class="main-profile-box">
    <div class="basic-details">
        <div class="profile-pic">
            <img src={{url_for('static', filename = 'images/signupLogo/google.png')}}>
        </div>
        <div class="details">
            <span class="text-content">Name: <p><u>Gaurav Yadav</u></p></span>
            <span class="text-content">Email: <p><u>{{current_user.email}}</u></p></span>
            <span class="text-content">Date Of Birth:<p>{{user_details[0]}}</p></span>
        </div>
        <div class="details">
            <span class="text-content">Blood-Group: <p>{{user_details[1]}}</p></span>
            <span class="text-content">Height: <p>{{user_details[2]}} Cm</p></span>
            <span class="text-content">Weight: <p>{{user_details[3]}} Kg</p></span>
        </div>
    </div>
</div>


{% endblock %}
